@import "./custom/custom";
//
// Typography
//

$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Modern Sans",
  "Open Sans", "Helvetica Neue", Arial, sans-serif;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
$root-font-size: 20px; // Base font-size for rems
$body-line-height: 1.4;
$content-line-height: 1.6;
$body-heading-line-height: 1.25;

// Colors
//

$white: #f8f8f8;

$grey-dk-300: #2d3b41;

$yellow-000: #f6bc00;
$yellow-100: #f6d852;


$body-background-color: $white;
$sidebar-color: lighten($yellow-100, 10%);
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $white;
$feedback-color: darken($sidebar-color, 10%);

$body-text-color: $grey-dk-300;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-300;
$link-color: darken($yellow-100, 40%);
$btn-primary-color: $yellow-000;
$base-button-color: $white;